.my_container
{
    width: 70%;
    margin: 0px auto;
}
.panel-footer {
    padding: 10px 15px;
    background-color: deepskyblue;
    color: #ffffff;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel-info > .panel-heading {
    color: #000000;
    background-color: deepskyblue;

}